/*------- layout ------*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgba(0, 0, 255, 0.2);
    text-align: center;
}

main {
    flex: 1;
}

img {
    display: block;
    margin: 10px auto;
}

.grid {
    display: flex;
    direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
}

.border {
    border: solid #000000 3px;
    border-style: groove;
    margin: 10px 30px;
    padding: 20px 0px;
}

.bg-white {
    background-color: #ffffff;
}

/*-------- classes -------*/
.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.highlight {
    background-color: rgba(250, 250, 0, 1);
}

.underline {
    text-decoration: underline;
}

.darkMode {
    background-color: #000000;
    color: #ffffff;
}

.hidden {
    display: none;
}

menu {
    background: #000044;
    padding: 10px 0px;
    margin-bottom: 10px;
}

/*-------- buttons ----------*/
main button {
    border-radius: 10px;
    margin: 15px;
    padding: 5px;
    background-color: #000088;
    color: #ffffff;
}

/* ------- span -------------*/
#available {
    color: green
}

#notAvailable {
    color: red;
}

/*--------- Transition ---------*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #000044;
    gap: 10px;
    margin: 10px;
}

.nav-link {
    background-color: #000088;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 200px;
    transition-property: background-color, transform;
    transition-duration: 0.3s, 0.5s;
    transition-timing-function: ease linear;
}

.nav-link:hover {
    background-color: #0000ff;
    opacity: 1;
    transform: scale(1.2);
}

main button {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

main button:hover {
    background-color: #0000ff;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.9);
    transform: translateY(-10px) scale(1.2);
}

/*-------- footer --------*/
footer {
    display: inline-block;
    text-align: center;
    background-color: #000044;
    color: #ffffff;
}
